/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.top-content {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    flex-flow: row wrap;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.boxes {
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    justify-content: flex-start;
}

.middle-content .boxes .box {
    width: 10rem;
    height: 10rem;
    background: black;
    margin: 2rem 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* ######################################## */

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
    margin: 2% 0%;
}

.section-img {
    width: 100%;
    margin: 2% 0%;
}
.boxes {
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-content: flex-start;
}

#one{
    background-color: teal;
}

#two{
    background-color: gold;
}
#three{
    background-color: cadetblue;
}
#four{
    background-color: coral;
}
#five{
    background-color: crimson;
}
#six{
    background-color: forestgreen;
}
#seven{
    background-color: darkorchid;
}
#eight{
    background-color: hotpink;
}
#nine{
    background-color: indigo;
}
#ten{
    background-color: dodgerblue;
}

/* #################          MEDIA           ################## */
@media (max-width:500px) {
    .container{
        width: 100%;
    }
    .header {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        margin: 5% 0%;
        /* border: 1px solid grey; */
    }
    img{
        margin: 5%;
    }
    a{
        width:80%;
        padding: 1%;
        border: 1px solid grey;
        border-radius: 5px;
        text-align: center;
        color: #d3d3d3;
    }
    #home {
        background: lightgrey;
        font-weight: bold;
        color: black;
    }
    .top-content{
        /* display:flex; */
        flex-direction: column;
        margin: 2%;
    }
    h2 {
        font-weight: bold;
    }
    .top-content .text-container {
        width: 100%;
    }
    p{
        color: grey;
    }
    .boxes {
        display: flex;
        flex-flow: column wrap;
        /* justify-content: center; */
        align-items: center;
    }

    #five{
        display: none;
    }
    #six{
        display: none;
    }
    #seven{
        display: none;
    }
    #eight{
        display: none;
    }
    #nine{
        display: none;
    }
    #ten{
        display: none;
    }
    .bottom-content{
        display: none;
    }
    footer{
        display: none;
    }
}